<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Feed</h1>
      <p>Welcome back, <%= user.username %>
      </p>

      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-primary">Log Out</button>
      </form>

      <% if (user.is_admin) { %>
        <p class="nav-item">
          <a class="nav-link" href="/admin">Admin Dashboard</a>
        </p>
        <% } %>
    </div>

    <%- include('../partials/post_modal'); %>
    
    <!-- trending discussion cards -->
    <div class="container">
      <div class="row">
        <div class="card col m-3">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title col-8 post-title-text">Elon Musk Example Post</h5>
              <p class="col-4 post-username-text">BonfireUser1</p>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Join discussion</a>
          </div>
        </div>
        <div class="card col m-3">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title col-8 post-title-text">Donald Trump Sucks</h5>
              <p class="col-4 post-username-text">BonfireUser2</p>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Join discussion</a>
          </div>
        </div>
        <div class="card col m-3">
          <div class="d-inline-flex">
          </div>
          <div class="card-body">
            <div class="row">
              <h5 class="card-title col-8 post-title-text">Chris Thompson is Cool</h5>
              <p class="col-4 post-username-text">BonfireUser1</p>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Join discussion</a>
          </div>
        </div>
      </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>