<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
    
    <p>Welcome, <%= username %></p>

    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-primary">Log Out</button>
    </form>
    <ul>
        <% query.forEach(function(row) { %>
          <li>
            <strong><%= row.username %></strong>
            - <%= row.email %> - Upvotes Received: <%= row.upvotes_received %> - Upvotes Given: <%= row.upvotes_received %>
          </li>
        <% }); %>
      </ul>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>