<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
    <style>
      .img-thumbnail {
        display: inline;
      }
    </style>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Feed</h1>
      <p>Welcome back, <%= user.username %>
      </p>

      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-primary">Log Out</button>
      </form>

      <% if (user.is_admin) { %>
        <p class="nav-item">
          <a class="nav-link" href="/admin">Admin Dashboard</a>
        </p>
        <% } %>
    </div>

    <%- include('../partials/post_modal'); %>
    
    <!-- discussion cards -->
    <div class="container">
      <% posts.forEach(function(row) { %>
        <div class="row">
          <div class="card col m-3">
            <div class="card-body">
              <div class="row">
                <h5 class="card-title col-8 post-title-text"><%= row.post_title %></h5>
                <p class="col-4 post-username-text">UserId: <%= row.poster_id %> - Upvotes: <%= row.upvotes_received %></p>
              </div>
              <p class="card-text"><%= row.post_content %> - <%= row.post_timestamp %></p>
              <a href="/post/<%= row.post_id %>" class="btn btn-primary">Join discussion</a>
            </div>
          </div>
        </div>
      <% }); %>  
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>